@charset "UTF-8";
:root{
    --color1: #eaeaea;
    --color2: #035e7b;
    --color3: #030027;
    --color4: #B5E5FF;
    --color5: #002e2c;
}
/*
    
    
*/
*{
   margin: 0px;
   padding: 0px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: var(--color1);
}
a{
    text-decoration: none;
}
a.external{
    font-weight: bold;
    color: var(--color2);
}
a.external:hover{
    background-color: var(--color2);
    color: var(--color4);
}
li.external{
    font-weight: bold;
    color: var(--color2);
}
li.external:hover{
    background-color: var(--color2);
    color: var(--color4);
}
header{
    background-color: var(--color2);
    text-align: center;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.250);
}
header > h1{
    color: var(--color1);
    padding: 10px;
}
main{
    background-color: var(--color4);
    max-width: 650px;
    margin: auto;
    color: var(--color3);
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.250);
    font-size: 1.1em;
    
}
main{
    color: var(--color5);
}
main p{
    padding: 10px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
}
main h1{
    color: var(--color3);
    text-align: center;
    padding: 10px;
}
main h2{
padding: 10px;
}
main > img {
    padding: 10px;
    display: block;
    margin: auto;
}
main ul{
    padding: 10px;
    list-style-position: inside;
    list-style-type: none;
}
.rep{
background-color: var(--color4);
}
footer{
    padding: 5px 0px 10px 0px;
    background-color: var(--color2);
    text-align: center;
    box-shadow: 0px -4px 11px rgba(0, 0, 0, 0.250);
}
footer a{
    margin: 10px;
    color: var(--color1);
    text-decoration: none;
    padding: 5px;
    margin-bottom: 20px;
}
footer a:hover{
    color: var(--color2);
    background-color: var(--color1);
    border-radius: 8px;
    transition-duration: 0.3s;
}

