@charset "UTF-8";

/* general configurations */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(180deg, #024959, black);
}

body *{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 150%;
    font-weight: inherit;
}


/* header configurations */

header{
    margin-top: 32px;

}

header div{
    width: 180px;
    display: flex;
    margin: auto;
    border-radius: 50%;
    background-image: linear-gradient(90deg, #E9C9F2, #8F85A6);  
    padding: 5px;
    transition: transform.3s;
    animation: fromTop .7s .1s backwards;
    
}

header div:hover{
    transform: scale(1.1);
}

header div img{
    width: 100%;
    border-radius: 50%;
}



/* main configurations */

main{
    margin: 32px auto;
    max-width: 680px;
    width: 90%;
    display:grid;
    gap: 24px;
    margin-top: 32px;
}

main section{
    color: white;
    /* background-image: linear-gradient();  colocar cor dependendo da palheta escolhida*/
    padding-top: 5px;
    border-radius: 10px;
    animation: fromBottom .7s backwards;
    background-image: linear-gradient(90deg, #01677e, #01677e);
}

main section:nth-child(1){
    animation-delay: .1s;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

main section div{
    background-color: rgb(54, 54, 58);
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

main section div h2{
    font-size: 1.8em;
    padding-bottom: 10px;
}
main section div h3{
    font-size: 1.2em;
    text-align: center;
    color: rgb(223, 223, 223);
}
main section div p{
    letter-spacing: -0.18px;
    color: whitesmoke;
}

main section div ul{
 
    list-style: none;
    margin-left: 15px;
    margin-top: 24px;

}

main section div ul li{
    transition: transform .4s;
    margin-top: 15px;
    padding: 10px;
    background-image: linear-gradient(90deg, #04446b, #032d52);
    border-radius: 10px;
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.151);
}
main section div ul li:hover{
    transform: scale(1.05);
}

main section div ul li a{
    text-decoration: underline;
    color: white;
}

main section div img{
    width: 50px;
}
.socialMedia{
    display: flex;
}

.socialMedia > li {
    background-image: linear-gradient(90deg, #757f85, #5a6269);
    margin: auto;
}

.socialMedia > li:hover{
    transform: scale(1.2);
}

/* animations */

@keyframes fromTop {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes fromBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

